.container__cardview {
    background: linear-gradient(to top, rgba(252,254,255,1) 0%, rgba(191,205,208,1) 100%);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    padding-bottom: 30px;
}

.container__buttom {
    width: 240px;
    margin: auto;
}

.buttom__reset {
    width: 75px;
    height: 30px;
    color: $color-grey-stone;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid $color-white-egg;
    border-radius: 15px;
    background-color: transparent;
    margin: 10px 0 20px 0px;
}

.icon__trash {
    margin-right: 5px;
}

.preview__card {
    background-color: $color-white-egg; 
    font-family: $font-family-tertiary;
    width: 240px;
    height: 367px;
    margin: auto;
    padding-bottom: 11px;
}

.rectangle__decoration {
    width: 5px;
    height: 42px;
    background-color: $color-green-hospital;
    margin-top: 20px; 
    position: absolute;

}

.name {
    color: $color-green-blue;
    font-size: 18px;
    font-family: $font-family-tertiary;
    font-weight: $font-weight-semibold; 
    margin: 20px 0 0 20px;
}

.profession {
    color: $color-grey-stone;
    font-family: $font-family-tertiary;
    margin: 5px 0 10px 20px;
}

.photo__user {
    width: 240px;
    height: 200px;
}

.social__media-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    margin: 10px 0 10px 0;
}

.social__media-buttom {
    color: $color-green-blue; 
    border: 2px solid $color-green-hospital;
    border-radius: 16px;
    width: 32px;
    height: 32px;
    text-align: center;
    padding-top: 8px;
    margin-right: 10px;
}

.rectangle__decoration-large {
    background-color: $color-blue-sky;
    width: 240px;
    height: 2px;
    opacity: 0.2;
}

.skill__tags {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0 0 0 15px;
}

.tag {
    font-family: $font-family-primary;
    color: $color-white-egg;
    font-size: 13px;
    background-color: $color-blue-sky;
    margin-right: 10px;
    border-radius: 4px;
    display: inline-block;
    padding: 0 5px 0 5px;
}

