.container__cardview {
    background: linear-gradient(to top, rgba(252,254,255,1) 0%, rgba(191,205,208,1) 100%);
    margin: auto;
    width: 100%;
}

.buttom__reset {
    width: 75px;
    height: 30px;
    color: $color-grey-stone;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid $color-white-egg;
    border-radius: 15px;
}

.preview__card {
    background-color: $color-white-egg; 
    font-family: $font-family-tertiary;
    width: 240px;
    height: 367px;
    margin: auto;
}

.rectangle__decoration {
    width: 5px;
    height: 42px;
    background-color: $color-green-hospital; 
}

.name {
    color: $color-green-blue;
    font-size: 18px;
    font-family: $font-family-tertiary;
}

.profession {
    color: $color-grey-stone;
    font-family: $font-family-tertiary;
}

.photo__user {
    width: 240px;
    height: 200px;
}

.social__media-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.social__media-buttom {
    color: $color-green-blue; 
    border: 2px solid $color-green-hospital;
    border-radius: 16px;
    width: 32px;
    height: 32px;
    text-align: center;
    padding-top: 6px;
}

.rectangle__decoration-large {
    background-color: $color-blue-sky;
    width: 240px;
    height: 2px;
}

.skill__tags {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.tag {
    
}

