
.set_colors {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: space-between;
    width: 100%;
    height: 150px;
    padding-left: 29px;
    list-style: none;
} 

.colors_direction {
    display: flex; 
    margin: 10px;  
}

.color_container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.design_colors {
    height: 150px;
}

.deco_fieldset {
    display: inline;
}

.box_darkgreen {
    width: 30px;
    height: 25px;
    background: $color-green-blue;   
}

.box_bluesky {
    width: 30px;
    height: 25px;
    background: $color-blue-sky; 
}

.box_greenhospital {
    width: 30px;
    height: 25px;
    background: $color-green-hospital; 
}
.box_redblood {
    width: 30px;
    height: 25px;
    background: $color-red-blood;   
}

.box_redtomato {
    width: 30px;
    height: 25px;
    background: $color-red-tomato; 
}

.box_orangetomato {
    width: 30px;
    height: 25px;
    background: $color-orange-tomato; 
}


.box_greyblue {
    width: 30px;
    height: 25px;
    background: $color-grey-blue;   
}

.box_greypale {
    width: 30px;
    height: 25px;
    background: $color-grey-pale; 
}

.box_bluesummer {
    width: 30px;
    height: 25px;
    background: $color-blue-summer; 
}

.set_container {
    display: flex;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 150px;
    padding-left: 29px;
} 

.fonts_position {
    padding: 10px;
    margin-left: 23%;
}

.selector_position {
    margin-right: 10px;
} 
