
.set_colors {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: space-between;
    width: 100%;
    height: 150px;
    padding-left: 29px;
    list-style: none;
} 

.colors_direction {
    display: flex; 
    margin: 10px;  
}

.color_container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.design_colors {
    height: 150px;
}

.design_fonts {
    height: 150px;
    margin-top: 0;
}

.deco_fieldset {
    display: inline;
}

.type_fonts_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 17px;
}

.box_darkgreen {
    width: 30px;
    height: 25px;
    background: $color-green-blue;   
}

.box_bluesky {
    width: 30px;
    height: 25px;
    background: $color-blue-sky; 
}

.box_greenhospital {
    width: 30px;
    height: 25px;
    background: $color-green-hospital; 
}
.box_redblood {
    width: 30px;
    height: 25px;
    background: $color-red-blood;   
}

.box_redtomato {
    width: 30px;
    height: 25px;
    background: $color-red-tomato; 
}

.box_orangetomato {
    width: 30px;
    height: 25px;
    background: $color-orange-tomato; 
}


.box_greyblue {
    width: 30px;
    height: 25px;
    background: $color-grey-blue;   
}

.box_greypale {
    width: 30px;
    height: 25px;
    background: $color-grey-pale; 
}

.box_bluesummer {
    width: 30px;
    height: 25px;
    background: $color-blue-summer; 
}

.set_container {
    display: flex;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    height: 90px;
    padding-left: 29px;
    margin-bottom: 30px;
} 

.fonts_position {
    padding: 5px 0;
}

.selector_position {
    margin-right: 10px;
} 

.form_share_content {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $color-grey-rabbit;
}

.button_deco {
    display: flex;
    justify-content: center;
    width: 199px;
    height: 50px;
    background-color: $color-orange-chicken;
    text-transform: uppercase;
    color: $color-white-egg;
    border: none;
    padding: 13px;
    border-radius: 10px; 
    font-family: $font-family-primary;
    font-weight: 600;
    font-size: 18px;
    margin: 30px 0;
    cursor: pointer;
}

.button_created {
    background-color: $color-grey-wolf;
}

.fa-address-card::before {
    padding-right: 10px;
    color: $color-white-egg;
}

.hidden {
    display: none;
}

.twitter_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_createcard_twitter {
    font-family: $font-family-primary;
    font-weight: $font-weight-semibold;
    font-size: 18px;
    color: $color-grey-stone;
    padding: 20px 0 5px 0;
    margin: 0;
}

.twitter_link {
    text-decoration: none;
    font-family: $font-family-primary;
    font-weight: $font-weight-semibold;
    font-size: 11px;
    color: $color-orange-chicken;
    text-align: center;
    max-width: 285px;
}

.button_twitter {
    display: flex;
    justify-content: center;
    width: 181px;
    height: 30px;
    background-color: $color-blue-twitter;
    color: $color-white-egg;
    border: none;
    padding: 5px 9px;
    border-radius: 3px; 
    font-family: $font-family-primary;
    font-size: 14px;
    font-weight: $font-weight-regular;
    margin: 10px 0 30px 0;
}

.fa-twitter {
    height: 18px;
    width: 18px;
} 

.action__hiddenField {
    display: none;
}

.image-preview {
    height: 29px;
    width: 29px;
}