<section class="container__cardview">
  <div class="container__buttom">
    <button class="buttom__reset" type="reset"><i class="icon__trash far fa-trash-alt icon__trash"></i>Reset</button>
  </div>
  <div class="preview__card">
    <div class="rectangle__decoration"></div>
    <p class="name">Nombre Apellido</p>
    <p class="profession">Front-end developer</p>
    <img class="photo__user" src="assets/images/default.jpeg" alt="User photo">
    <ul class="social__media-list">
      <li class="social__media-buttom">
        <i class="fas fa-mobile-alt">
          <a class="icon__number" href=""></a>
        </i>
      </li>
      <li class="social__media-buttom">
        <i class="far fa-envelope">
          <a class="icon__mail" href=""></a>
        </i>
      </li>
      <li class="social__media-buttom">
        <i class="fab fa-linkedin-in">
            <a class="icon__linkedin" href=""></a>
        </i>
      </li>
      <li class="social__media-buttom">
        <i class="fab fa-github-alt">
            <a class="icon__github" href=""></a>
        </i></li>
    </ul>
    <div class="rectangle__decoration-large"></div>
    <ul class="skill__tags">
      <li class="tag">HTML</li>
      <li class="tag">CSS</li>
      <li class="tag">GULP</li>
    </ul>
  </div>
</section>