<section>
  <button type=""><i class="far fa-trash-alt"></i>Reset</button>
  <div>
    <p class="name">Nombre Apellido</p>
    <p class="profession">Front-end developer</p>
    <img src="" alt="User photo">
    <ul class="social_media_list">
      <li><i class="fas fa-mobile-alt"></i></li>
      <li><i class="far fa-envelope"></i></li>
      <li><i class="fab fa-linkedin-in"></i></li>
      <li><i class="fab fa-github-alt"></i></li>
    </ul>
    <ul class="skill_tags">
      <li>HTML</li>
      <li>CSS</li>
      <li>GULP</li>
    </ul>
  </div>
</section>
