<section class="container_cardview">
  <button class="buttom_reset" type="reset"><i class="far fa-trash-alt icon_trash"></i>Reset</button>
  <div class="preview_card">
    <div class="rectangle_decoration"></div>
    <p class="name">Nombre Apellido</p>
    <p class="profession">Front-end developer</p>
    <img class="photo_user" src="" alt="User photo">
    <ul class="social_media_list">
      <li class="social_media_buttom"><i class="fas fa-mobile-alt"></i></li>
      <li class="social_media_buttom"><i class="far fa-envelope"></i></li>
      <li class="social_media_buttom"><i class="fab fa-linkedin-in"></i></li>
      <li class="social_media_buttom"><i class="fab fa-github-alt"></i></li>
    </ul>
    <div class="rectangle_decoration-large"></div>
    <ul class="skill_tags">
      <li>HTML</li>
      <li>CSS</li>
      <li>GULP</li>
    </ul>
  </div>
</section>