<section class="custom-section">
  <form action="" method="GET">
    <fieldset class="deco_fieldset">

      <div class="container_fieldset-title collapseform-design">
        <div class="container_fieldset-icon">
          <i class="far fa-object-ungroup"></i>
        </div>

        <legend class="fieldset_title fieldset_title--design">Diseña</legend>

        <div class="container_arrow-icon">
          <i class="fas fa-angle-up"></i>
        </div>
      </div>
      <div class="form_design_content">
        <ul class="set_colors">
          <li>
            <h2 class="design_subtitle design_colors">Colores</h2>
          </li>
          <li class="color_container">
            <label class="list_item" for="setcolors_green">
              <div class="colors_direction">
                <div class="box_darkgreen"></div>
                <div class="box_bluesky"></div>
                <div class="box_greenhospital"></div>
              </div>
            </label>
            <input id="setcolors_green" type="radio" name="setcolors_green">
          </li>
          <li class="color_container">
            <label class="list_item" for="setcolors_red">
              <div class="colors_direction">
                <div class="box_redblood"></div>
                <div class="box_redtomato"></div>
                <div class="box_orangetomato"></div>
              </div>
            </label>
            <input id="setcolors_red" type="radio" name="setcolors_red">
          </li>
          <li class="color_container">
            <label class="list_item" for="setcolors_blue">
              <div class="colors_direction">
                <div class="box_greyblue"></div>
                <div class="box_greypale"></div>
                <div class="box_bluesummer"></div>
              </div>
            </label>
            <input id="setcolors_blue" type="radio" name="setcolors_blue">
          </li>
        </ul>
        <ul class="set_container">
          <li>
            <h2 class="design_subtitle design_colors">Fuentes</h2>
          </li>
          <li class="fonts_position">
            <label class="list_item" for="Ubuntu">Ubuntu</label>
            <input class="selector_position" id="Ubuntu" type="radio" name="Ubuntu">
          </li>
          <li class="fonts_position">
            <label class="list_item" for="ComicSans">Comic Sans</label>
            <input class="selector_position" id="ComicSans" type="radio" name="ComicSans">
          </li>
          <li class="fonts_position">
            <label class="list_item" for="Montserrat">Montserrat</label>
            <input class="selector_position" id="Montserrat" type="radio" value="Montserrat" name="Montserrat">
          </li>
        </ul>
      </div>
    </fieldset>
  </form>

  <form action="" method="POST">
    <fieldset class="deco_fieldset">

      <div class="container_fieldset-title collapseform-fill">
        <div class="container_fieldset-icon">
          <i class="far fa-keyboard"></i>
        </div>

        <legend class="fieldset_title fieldset_title--fill">Rellena</legend>

        <div class="container_arrow-icon">
          <i class="fas fa-angle-up"></i>
        </div>
      </div>

      <div class="form_fill_content hidden">
        <label class="fill_subtitle" for="firstName">Nombre completo</label>
        <input class="input_box full__name" id="firstName" placeholder="Ej: Sally Jill" type="text" name="firstName">

        <label class="fill_subtitle" for="position">Puesto</label>
        <input class="input_box profession__input" id="position" placeholder="Ej: Front-end unicorn" type="text" name="position">

        <label class="fill_subtitle" for="profileImage">Imagen de perfil</label>

        <div class="container_add-image">
          <input class="button_add-image" type="button" value="Añadir imagen">
          <div class="container_image-preview">
            <img src="" alt="" class="image-preview">
          </div>
        </div>

        <label class="fill_subtitle" for="mail">Email</label>
        <input class="input_box" id="mail" placeholder="Ej: Sally-hill@gmail.com" type="email" name="mail">

        <label class="fill_subtitle" for="phone">Teléfono</label>
        <input class="input_box" id="phone" placeholder="Ej: 555-55-55-55" type="tel" name="phone">

        <label class="fill_subtitle" for="linkedin">Linkedin</label>
        <input class="input_box" id="linkedin" placeholder="Ej: linkedin.com/in/sally.hill" type="text" name="linkedin">

        <label class="fill_subtitle" for="github">Github</label>
        <input class="input_box" id="github" placeholder="Ej: @sally-hill" type="text" name="github">

        <h3 class="fill_subtitle fill_subtitle--skills">Habilidades (máximo 3)</h3>

        <div class="container_skills">
          <label class="checkbox__label checkbox__label--html" for="html">HTML</label>
          <input class="checkbox__input checkbox__input--html" id="html" type="checkbox" name="html">

          <label class="checkbox__label checkbox__label--css" for="css">CSS</label>
          <input class="checkbox__input checkbox__input--css" id="css" type="checkbox" name="css">

          <label class="checkbox__label checkbox__label--react" for="react">React</label>
          <input class="checkbox__input checkbox__input--react" id="react" type="checkbox" name="react">

          <label class="checkbox__label checkbox__label--javascript" for="javascript">JavaScript</label>
          <input class="checkbox__input checkbox__input--javascript" id="javascript" type="checkbox" name="javascript">

          <label class="checkbox__label checkbox__label--git" for="git">Git</label>
          <input class="checkbox__input checkbox__input--git" id="git" type="checkbox" name="git">

          <label class="checkbox__label checkbox__label--gulp" for="gulp">Gulp</label>
          <input class="checkbox__input checkbox__input--gulp" id="gulp" type="checkbox" name="gulp">

          <label class="checkbox__label checkbox__label--sass" for="sass">Sass</label>
          <input class="checkbox__input checkbox__input--sass" id="sass" type="checkbox" name="sass">
        </div>
      </div>
    </fieldset>
  </form>

  <form action="" method="GET">
    <fieldset class="deco_fieldset">
      <div class="container_fieldset-title collapseform-share">
        <div class="container_fieldset-icon">
          <i class="fas fa-share-alt"></i>
        </div>

        <legend class="fieldset_title fieldset_title--share">Comparte</legend>

        <div class="container_arrow-icon">
          <i class="fas fa-angle-up"></i>
        </div>
      </div>

      <div class="form_share_content hidden">
        <button class="button_deco" type="submit"><i class="far fa-address-card"></i>Crear tarjeta</button>
      </div>

      <div class="hidden">
        <div class="twitter_container">
          <h2 class="title_createcard_twitter hidden">La tarjeta ha sido creada:</h2>
          <a class="twitter_link" href="">https://awesome-profile-card.com?id=A456DF0001</a>
          <button class="button_twitter" type="submit"><i class="fab fa-twitter"></i>Compartir en Twitter</button>
        </div>
      </div>
    </fieldset>
  </form>
</section>