<section>
    <form action="" method="GET">
        <fieldset>
            <legend>Diseña</legend>
            <h2>Colores</h2>
            <label for="setcolors1"></label>
            <input id="setcolors1" type="radio" name="setcolors1">
            <label for="setcolors2"></label>
            <input id="setcolors2" type="radio" name="setcolors2">
            <label for="setcolors3"></label>
            <input id="setcolors3" type="radio" name="setcolors3">
            <h2>Fuentes</h2>
            <label for="Ubuntu"></label>
            <input id="Ubuntu" type="radio" value="Ubuntu" name="Ubuntu">
            <label for="Comic Sans"></label>
            <input id="Comic Sans" type="radio" value="Comic Sans" name="Comic Sans">
            <label for="Montserrat"></label>
            <input id="Montserrat" type="radio" value="Montserrat" name="Montserrat">
        </fieldset>
    </form>
</section>