<h1 class="home__tittle">Crea tu tarjeta de visita</h1>
<h2 class="home__subtittle">Crea mejores contactos profesionales de forma fácil y cómoda</h2>
<div class="home__buttonbox">
  <ul class="buttonbox__icons">
    <li class="buttonbox__icons__design">
      <i class="far fa-object-ungroup"></i>
    </li>
    <li class="buttonbox__icons__fill">
        <i class="far fa-keyboard"></i>
    </li>
    <li class="buttonbox__icons__share">
        <i class="fas fa-share-alt"></i>
    </li>
  </ul>
  <ul class="buttonbox__text">
    <li class="buttonbox__text__design">Diseña
    </li>
    <li class="buttonbox__text__fill">Rellena
    </li>
    <li class="buttonbox__text__share">Comparte</li>
  </ul>
 
</div>
<a class="home__link__begin" href="cardCreator.html">Comenzar</a>
