.deco_fieldset {
    border: 0;
    width: 100%;
    margin: 0;
    padding: 10px;
}

.design_title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: $font-weight-semibold;
    color: $color-grey-stone;
}

.design_subtitle {
    text-transform: uppercase;
    font-family: $font-family-primary;
    color: $color-grey-stone;
    font-weight: 400;
    font-size: 14px;
}

.list_item {
    float: right;
    color: $color-grey-stone;
}

.fill_subtitle {
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0 6px;
    color: $color-green-blue;
}

.input_box {
    width: 281px;
    height: 30px;
    border: 1px solid $color-green-hospital;
    padding: 4px 0 6px 9px;

    &::placeholder {
        font-family: $font-family-primary;
        font-size: 14px;
        color: $color-grey-mouse;
        line-height: 1.43;
    }
}

.fill_subtitle--skills {
    font-weight: $font-weight-regular;
}

.container_add-image {
    display: flex;
}

.button_add-image {
    width: 140px;
    height: 30px;
    padding: 4px 22px 6px;
    border: none;
    border-radius: 3px;
    background-color: $color-orange-chicken;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    font-family: $font-family-primary;
    font-size: 14px;
    line-height: 1.43;
    color: $color-white-egg;
}

.container_image-preview {
    width: 30px;
    height: 30px;
    border: 1px solid $color-green-hospital;
}

.image_preview {
    width: 100%;
    height: 100%;
}