.deco_fieldset {
    border: 0;
}

.design_title {
    text-transform: uppercase;
    font-size: 18px;
}

.design_subtitle {
    text-transform: uppercase;
    font-size: 14px;
}

.set_container {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
} 

.list_item {
    float: right;
}

.fill_subtitle {
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0 6px;
}

