.deco_fieldset {
    border: 0;
    width: 100%;
    margin: 0;
    padding: 10px;
}

.design_title {
    text-transform: uppercase;
    font-size: 18px;
}

.design_subtitle {
    text-transform: uppercase;
    font-family: $font-family-primary;
    color: $color-grey-stone;
    font-weight: 400;
    font-size: 14px;
}

.list_item {
    float: right;
    color: $color-grey-stone;
}

.fill_subtitle {
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0 6px;
}

