.container_cardview {
    background-color:
}

.buttom_reset {
    width: 75px;
    height: 30px;
    color:
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 15px;
}

.preview_card {
    background-color:
    font-family:
}

.rectangle_decoration {
    width: 5px;
    height: 42px;
    background-color:
}

.name {
    color:
    font-size: 
}

.profession {
    color:
    font-size:
}

.photo_user {
    width: 240px;
    height: 200px;
}

.social_media_buttom {
    color:
    border: 2px solid ;
    border-radius: 16px;
    width: 32px;
    height: 32px;
}

.rectangle_decoration-large {
    background-color:
    width: 240px;
}