.footer {
    width: 100%;
    height: 110px;
    border: 1px solid $color-grey-elephant;
    background-color: $color-white-egg;
    display: flex;
    justify-content: center;
    align-items: center;

    @media all and (min-width: 768px) {
        height: 60px;
    }
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media all and (min-width: 768px) {
        width: 688px;
        flex-direction: row;
        justify-content: space-between;
    }
}

.copyright {
    margin-bottom: 10px;
    font-family: $font-family-primary;
    font-size: 14px;
    font-weight: $font-weight-regular;
    line-height: 1.43;
    color: $color-grey-rat;
    opacity: 0.5;

    @media all and (min-width: 768px) {
        margin: 0;
    }
}

.logo__link {
    width: 103px;
    height: 40px;
}

.logo__image {
    width: 100%;
    height: 100%;
}