.header__index,
.header__card-creator {
    width: 100%;
}

.header__index {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 64px;
}

.logo__index {
    width: 250px;
    height: 64px;
}

.header__card-creator {
    background-color: $color-white-egg;
    height: 111px;
    padding: 30px 0 30px 40px;
}

.logo__card-creator {
    width: 201px;
    height: 51px;
 
}

/*Tablet*/

@media all and (min-width: 768px) {
    .logo__index {
        width: 419px;
        height: 107px;
    }
    .header__index {
        height: 107px;
    }
}
